.note-preview {
  display: block;
  padding: 1em;
  background-color: #343434;
  color: rgba(255, 255, 255, 0.87);
  width: 480px;
  text-align: left;
  border-radius: 16px;
  height: 11rem !important;
  /* overflow: hidden; */
  margin: 1em;
  text-wrap: pretty;
}

.note-preview > hr {
  color: #444444;
  border-width: 3px;
}

.note-preview > div > h3,
.note-preview > p {
  margin: 0.4em 0.5em;
}

.note-preview > p {
  padding: 0.5em;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.right-icon {
  margin-left: auto;
  border: none;
  background-color: #00000000;
  padding: 0;
}

.note-preview button {
  background-color: inherit;
}

@media (prefers-color-scheme: light) {
  .note-preview {
    color: #213547;
    background-color: #f7f7f7;
  }
  .note-preview > hr {
    color: #e7e7e7;
  }
}