.note-list {
  /* overflow-x: visible; */
  overflow-y: scroll;
  scroll-snap-type: proximity;
  /* width: calc-size(max-content, size * 1000px); */
  width: 680px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
